body {
    background-image: url('/image/background.webp') !important;
    background-attachment: fixed;
    background-size: cover;
}
.navbar {
    background-color: rgba(182, 237, 255, 0.755) !important;
}
footer {
    bottom: 0 !important;
}
.booking-title {
    font-weight: thin !important;
    font-size: 5rem !important;
  }
.button {
    background-color: #65bed6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 30%;
    border-radius: 9px;
}
.date {
    font-size:25px;
    margin-right: 160px;
    margin-left: 19%;
}
.time {
    font-size:25px;
    margin-right: 15px;
    margin-left: 19%;
}
.person {
    font-size:25px;
    margin-right: 134px; 
    margin-left: 19.5%;
}
.session {
    font-size:25px;
    margin-right: 125px; 
    margin-left: 19.5%;
}

textarea {
    width: 73%;
}
.button:hover {
    background-color: #58a1c1;
}
@media (min-width: 991px) and (max-width: 1199px) {
    textarea {
        width: 73%;
    }
}
@media (max-width: 990px) and (min-width: 768px) {
    .booking-content {
        width: 100%;
        margin-bottom: 210px;
    }
    .date,.time,.person {
        margin-left: auto;
    }
    textarea {
        width: 73%;
    }
    .button{
        margin-left: 27%;
    }
}
@media (max-width: 767px) {
    .booking-content {
        width: 100%;
        margin-bottom: 230px;
    }
    .date,.time,.person {
        margin-left: auto;
        font-size: 1rem;
    }
    .time {
        margin-right: 50px;
    }
    textarea {
        width: 73%;
    }
    .button{
        margin-left: 25%;
    }
}
@media (max-width: 699px) {
    .date, .time, .person {
        margin-right: 90%;
    }
    
}
.card {
    margin: 0 2em 0 2em;
    border: none;
}
.card .card-header{
    background-color:rgba(149, 222, 238, 0.938);
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card .card-body {
    background-color:rgb(206, 250, 255);
}
.card-title {
    font-size: 1.6em;
}
.dishes {
    margin-left: 5%;
    margin-right: 5%;
}
.dish-heading .dish-heading-img {
    position: relative;
    z-index: 0;
}
.dish-heading .dish-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}
.fade-in-effect{
    animation:opac 2.7s
}
@keyframes opac{
    from{opacity:0} to{opacity:1}
}
.article1 {
    background-color: rgba(173, 216, 230, 0.714);
    padding-left: 12%;
    padding-right: 12%;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.article h2 {
    font-size: 1.3rem !important;
}